# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/profilehub?retryWrites=true&w=majority

# JWT Secret Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=24h
